---
import playlist from '@/data/playlist.json';
import PlayListItem from '@/components/PlayListItem.astro';
const user = await Astro.locals.currentUser();
const userImg = user?.imageUrl;
const containerHeight = user
  ? 'calc(100vh - var(--player-height) - 10.3vmax)'
  : 'calc(100vh - var(--player-height) - 8vmax)';
//Aqui podria traer la playlist favorite del usuario de una base de datos
//Aqui podria traer todas las playlist creadas por el usuario

const favoriteBrands = {
  fromUser: true,
  isPlaylistFavorites: true,
  title: 'Favorite Brands',
  pinned: true,
  color: '#f00',
  whatColorIs: 'red'
};

const convertInValidSlug = (text: string) =>
  text.toLowerCase().replace(/\s+/g, '-').replace(/-+/g, '-');

const firstPlaylistOfUser = {
  title: 'Code-Fi',
  pinned: true,
  color: '#08d437',
  fromUser: true,
  whatColorIs: 'Clear Green'
};

const secondPlaylistOfUser = {
  title: 'Chill Lofi',
  pinned: true,
  color: '#DAA520',
  fromUser: true,
  whatColorIs: 'GoldenRod'
};

const thirdPlaylistOfUser = {
  title: 'SpotiManz Favorites',
  pinned: true,
  color: '#ec1cce',
  fromUser: true,
  whatColorIs: 'Purple Elegant'
};

interface PlaylistObject {
  title: string;
  pinned: boolean;
  color: string;
  whatColorIs: string;
  fromUser?: boolean;
  isPlaylistFavorites?: boolean;
}

const globalPlaylist: PlaylistObject[] = [...playlist];
const userPlaylist: PlaylistObject[] = [
  favoriteBrands,
  firstPlaylistOfUser,
  secondPlaylistOfUser,
  thirdPlaylistOfUser
];
---

<style define:vars={{ containerHeight }}>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--pad-gap) 0;
    max-height: calc(100vh - var(--player-height));
  }

  .top-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);
    min-height: 3vmax;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    padding: 1vmax;

    .btn {
      position: relative;
      background-color: #1e293b;
      width: 100%;
      min-height: 3vmax;
      border: 0.15vmax solid var(--theme-color);
      color: var(--theme-color);
      border-radius: 0.5vmax;
      overflow: hidden;
      cursor: pointer;
      padding: 0.3vmax;

      @media (width <= 1111px) {
        background-color: transparent;
      }

      input {
        position: absolute;
        inset: 0;
        border-radius: inherit;
        font-size: 1vmax;
        padding-left: 0.8vmax;
        color: var(--theme-color);
        display: flex;
        background-color: #111;
        border-radius: 0.4vmax;

        &,
        &:focus {
          border: none;
          outline: none;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        filter: blur(0.6vmax);
        transition: all 0.5s ease;
        pointer-events: none;
      }

      &::before {
        --s: 2vmax;
        width: var(--s);
        height: var(--s);
        background-color: var(--theme-color);
        top: 0.4vmax;
        right: 0.4vmax;
        z-index: 10;
      }

      &::after {
        --s: 3vmax;
        width: var(--s);
        height: var(--s);
        background-color: var(--theme-color);
        filter: blur(0.6vmax) hue-rotate(90deg);
        top: 0.8vmax;
        right: 1.2vmax;
        z-index: 10;
      }

      &:hover::before {
        right: 1.8vmax;
        bottom: -16px;
      }

      &:hover::after {
        right: -0.7vmax;
      }
    }
  }

  .main-sidebar {
    background: var(--medium-bgcolor);
    border-radius: var(--border-radius);
    height: 100%;
    /* background-color: red; */

    .sidebar-headers {
      /* background-color: orange; */
      display: flex;
      border-bottom: 0.1vmax solid #fff2;

      .sidb {
        min-width: 50%;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        padding: 0.5vmax;

        &.sidb-active {
          filter: brightness(125%);
          background-color: color-mix(
            in srgb,
            var(--theme-color) 50%,
            transparent 50%
          );
        }

        &.sidebar-left {
          /* background-color: cadetblue; */
          border-top-left-radius: var(--border-radius);
        }

        &.sidebar-right {
          /* background-color: orange; */
          border-left: 0.1vmax solid #fff2;
          border-top-right-radius: var(--border-radius);
        }

        img {
          width: 1.5vmax;
          height: 1.5vmax;
          border-radius: 50%;
          pointer-events: none;
        }
      }
    }

    .the-container {
      display: flex;
      flex-direction: column;

      .playlist-container {
        font-family: var(--default-font);
        padding: 0.3vmax;
        display: flex;
        flex-direction: column;
        height: var(--containerHeight);
        padding-bottom: 0;
        padding-top: 0.6vmax;

        & .search-container {
          display: flex;
          align-items: center;
          padding: 0.5vmax;
          padding-left: 0.8vmax;

          .text {
            font-size: 0.8vmax;
            padding-left: 0.4vmax;
            margin-top: 0.5vmax;
          }

          & input[type='search'] {
            border: 0;
            background: transparent;
            padding: 0.4rem 0;
            margin: 0 0.5rem;
            width: 150px;
          }

          & > span {
            display: flex;
            align-items: center;
            gap: 0.3vmax;
          }
        }

        & .playlist {
          display: flex;
          flex-direction: column;
          padding: 0.3vmax;
          overflow-y: scroll;
          max-height: 100%;
          gap: 0.3vmax;
        }

        .playlist::-webkit-scrollbar {
          width: 0.4vmin;
        }
        .playlist::-webkit-scrollbar-thumb {
          background: #fff4;
          border-radius: 0 var(--pad-gap) var(--pad-gap) 0;
        }
        .playlist::-webkit-scrollbar-track {
          background: transparent;
        }
      }
    }
  }

  .sidebarPlaylist {
    scroll-behavior: smooth;
  }
</style>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const input = document.getElementById('search-input');
    const playlistContainer = document.querySelector('.sidebarPlaylist');
    const originalPlaylists = [...playlistContainer.children];
    input.addEventListener('input', () => {
      const searchTerm = input.value.toLowerCase();
      playlistContainer.scrollTop = 0;

      const sortedPlaylists = [...originalPlaylists].sort((a, b) => {
        const aText = a.textContent.toLowerCase();
        const bText = b.textContent.toLowerCase();

        const aMatch = aText.includes(searchTerm);
        const bMatch = bText.includes(searchTerm);

        if (aMatch && !bMatch) return -1;
        if (!aMatch && bMatch) return 1;
        return aText.localeCompare(bText);
      });

      playlistContainer.innerHTML = '';
      sortedPlaylists.forEach(item => playlistContainer.appendChild(item));
    });
  });
</script>

<div class='container'>
  <div class='top-sidebar'>
    <button class='btn'>
      <input
        spellcheck='false'
        autocomplete='off'
        id='search-input'
        type='text'
        maxlength='20'
        placeholder='Seach Playlist'
      />
    </button>
  </div>
  <div class='main-sidebar'>
    {
      user && (
        <nav class='sidebar-headers'>
          <aside class='sidebar-left sidb sidb-active' title='Global Playlists'>
            <img draggable='false' src='/assets/earth.png' alt='earth' />
          </aside>
          <aside class='sidebar-right sidb' title='Personal Playlists'>
            <img draggable='false' src={userImg} alt='User logo' />
          </aside>
        </nav>
      )
    }
    <section class='the-container'>
      <div class='playlist-container'>
        <div class='playlist sidebarPlaylist'>
          {
            globalPlaylist
              .sort((a, b) => a.title.localeCompare(b.title))
              .map((pItem, i) => (
                <PlayListItem
                  {...pItem}
                  tab={i}
                  visible={pItem?.fromUser ? 'invisible' : 'visible'}
                  fromUser={false}
                  slug={convertInValidSlug(pItem.title)}
                />
              ))
          }
          {
            userPlaylist
              .sort((a, b) => {
                // Forzar que 'favoriteBrands' vaya primero
                if (a?.isPlaylistFavorites) return -1;
                if (b?.isPlaylistFavorites) return 1;
                return a.title.localeCompare(b.title);
              })
              .map((pItem, i) => (
                <PlayListItem
                  {...pItem}
                  visible={pItem?.fromUser ? 'invisible' : 'visible'}
                  isPlaylistFavorites={pItem?.isPlaylistFavorites}
                  tab={i}
                  fromUser={true}
                  slug={convertInValidSlug(pItem.title)}
                />
              ))
          }
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  import { $ } from '@/utils/functions';

  const $sideBarPlaylist = $('.sidebarPlaylist') as HTMLElement;
  let originalPlaylist = [...$sideBarPlaylist?.children];
  const globalPlaylistLength = [...$sideBarPlaylist.children].filter(
    playlist => playlist.getAttribute('data-from-user') === 'false'
  ).length;

  document.addEventListener('click', e => {
    const target = e.target as HTMLElement;
    if (target.matches('.sidebar-left')) {
      if (target.classList.contains('sidb-active')) return;
      $('.sidb-active')?.classList.remove('sidb-active');
      target.classList.add('sidb-active');
      originalPlaylist.forEach(el => {
        el.className = el.className.includes('playlist-item visible')
          ? 'playlist-item invisible'
          : 'playlist-item visible';

        return el;
      });

      setTimeout(() => {
        const lastIndex =
          localStorage.getItem('lastIndexOfPlaylistItemClicked') ?? '0';
        const lastIndexNumber = Number(lastIndex);

        ([...$sideBarPlaylist.children][lastIndexNumber] as HTMLElement).click();
      }, 50);

      return;
    }

    if (target.matches('.sidebar-right')) {
      if (target.classList.contains('sidb-active')) return;
      $('.sidb-active')?.classList.remove('sidb-active');
      target.classList.add('sidb-active');
      originalPlaylist.forEach(el => {
        el.className = el.className.includes('playlist-item visible')
          ? 'playlist-item invisible'
          : 'playlist-item visible';

        return el;
      });

      setTimeout(() => {
        const favoritePlaylist = [...$sideBarPlaylist.children][
          globalPlaylistLength
        ] as HTMLElement;
        favoritePlaylist.click();
      }, 30);
      return;
    }
  });

  document.addEventListener('keydown', e => {
    const { key } = e;
    if (key === 'Tab') {
      e.preventDefault();
      const currentTabActive = $('.sidb-active') as HTMLElement;
      const isTabRight = currentTabActive?.classList.contains('sidebar-right');
      const sibling = isTabRight
        ? 'previousElementSibling'
        : 'nextElementSibling';
      const targetTab = currentTabActive[sibling] as HTMLElement;
      targetTab.click();
    }
  });
</script>
